/Sistema de Inscripciones/nbproject/private/#
# Project specific excludes
#

tomcat

#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Maven
target/

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
Sistema\ de\ Inscripciones/nbproject/
Sistema\ de\ Inscripciones/nbproject/private/
Sistema\ de\ Inscripciones/build/
Sistema\ de\ Inscripciones/nbbuild/
Sistema\ de\ Inscripciones/dist/
Sistema\ de\ Inscripciones/nbdist/
Sistema\ de\ Inscripciones/nbactions.xml
Sistema\ de\ Inscripciones/nb-configuration.xml


# OS
.DS_Store

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag