<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdministrarServlet</servlet-name>
        <servlet-class>Server.AdministrarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaServlet</servlet-name>
        <servlet-class>Server.AltaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarServlet</servlet-name>
        <servlet-class>Server.ModificarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarMaestro</servlet-name>
        <servlet-class>Server.ModificarMaestro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarServlet</servlet-name>
        <servlet-class>Server.EliminarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/MenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministrarServlet</servlet-name>
        <url-pattern>/AdministrarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaServlet</servlet-name>
        <url-pattern>/AltaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarServlet</servlet-name>
        <url-pattern>/ModificarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarMaestro</servlet-name>
        <url-pattern>/ModificarMaestro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarServlet</servlet-name>
        <url-pattern>/EliminarServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Server.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>Server.MenuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>hello.jsp</welcome-file>
    </welcome-file-list>
</web-app>
